
<div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            
            <div class="form-signin">
        <%= form_with model: @user, url:  user_registration_path, local: true do |f| %>
                <span id="reauth-email" class="reauth-email"></span>
                 <%= f.label :email, "メールアドレス" %><br />
                 <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>  
                <%= f.label :password, "パスワード（6文字以上）" %><br />
                <%= f.password_field :password, id:"user_password", autocomplete: "new-password" %>
                 <%= f.label :password_confirmation, "パスワード再入力" %><br />
                <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
                <%= f.label :name, "ユーザー名" %><br />
                <%= f.text_field :name, id:"user_name" %>
                <div class ="login">
                 <%= f.submit "新規登録", class: :form__btn  %>            
                </div>
              <% end %>
            </div><!-- /form -->
              
        </div><!-- /card-container -->
    </div><!-- /container -->
<%= render "devise/shared/links" %>


