<nav class="navbar navbar-expand-lg navbar-light bg-light p-3" style="height: 100px;">
  <div class="container-fluid">
    <%= link_to  root_path, class: "navbar-brand fs-3 " do%>
      <i class="fas fa-walking"></i>MorningWalk
    <% end %>

    
    
      <form class="d-flex">
        <% if user_signed_in? %>
          <%= link_to current_user.name, user_path(current_user.id) , class: "btn btn-outline-success me-3"%>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "btn btn-outline-success me-3"%>  
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-success me-3 "%>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-success me-3"%>
        <% end %>
      </form>
      </div>
      <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
</nav>
