
<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
 
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <div class="form-signin">
              <%= form_with model: @user, url: user_session_path, local: true do |f| %>
                <span id="reauth-email" class="reauth-email"></span>
                <%= f.label :email, "メールアドレス" %><br />
                <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
                <%= f.label :password, "パスワード（6文字以上）" %><br />cdc
                <%= f.password_field :password, id:"user_password", autocomplete: "current-password" %>
                <div class ="login">
                  <%= f.submit "ログイン", class: :form__btn %>
                </div>
              <% end %>
            </div><!-- /form -->
              
        </div><!-- /card-container -->
    </div><!-- /container -->
<%= render "devise/shared/links" %>


