
  <div class="col-mb-3 " >
    <div class="card mt-3">
      <%=  link_to walk_path(walk),class:"text-dark text-decoration-none" do%>
        <%= image_tag walk.image, class: 'card-img-top px-3 mb-3' if walk.image.attached?%>
    
        <div class="card-body text-dark">
          <h5 class="card-title"><%= walk.user.name%>さんの投稿</h5>
          <h6 class="card-text">日時：<%= walk.start_time.year%>年<%= walk.start_time.month%>月<%= walk.start_time.day%>日</h6>
          <h6 class="card-title">今日の一言：<%= walk.content%></h6>
          <h6 class="card-text">散歩時間：<%= walk.time%>分</h6>
          
      <%end%>
          
            <% if user_signed_in? && current_user.liked_by?(walk.id) %>
              <%= link_to walk_like_path(walk,walk.likes),class: "like-link",method: :delete, remote: true do %> 
                <i class="fa fa-heart unlike-btn"></i>
              <% end %>
              <%= walk.likes.count %> 
            <% else %>
                <%= link_to walk_likes_path(walk,walk.likes),class: "like-link",method: :post, remote: true do %> 
                <i class="fa fa-heart like-btn"></i>
              <% end %>
              
              <%= walk.likes.count %> 
              
            <% end %>
        
       </div>  
    </div>
  </div>


