
  <div class="col-mb-3" >
    <div class="card ">
      <%=  link_to walk_path(walk) do%>
        <%= image_tag walk.image, class: 'card-img-top px-3 mb-3' if walk.image.attached?%>
    
        <div class="card-body">
          <h5 class="card-title">今日の一言：<%= walk.content%></h5>
          <p class="card-text">散歩時間：<%= walk.time%>分</p>
          <p class="card-text">日時：<%= walk.created_at%></p>
      <%end%>
          <% if current_user.liked_by?(walk.id) %>
             <%= link_to "いいねを解除" ,walk_like_path(walk,walk.likes),method: :delete, remote: true %> <%= walk.likes.count %> 
          <% else %>
            <%= form_with(model:[walk,@like]) do |f|%>
            <%= f.submit 'いいね！' %> <%= walk.likes.count %> 
            <% end %>
          <% end %>
       </div>  
    </div>
  </div>


