
<div class="container">
  <div class="row">
    <div class="col-md-6  img-hidden">
      <%= image_tag @walk.image, class: 'img-fluid' if @walk.image.attached?%>
    </div>
    <div class="col-md-6">
      <h5>今日の一言：<%= @walk.content%></h5>
      <p>散歩時間：<%= @walk.time%>分</p>
      <p>日時：<%= @walk.created_at%></p>
    </div>
  </div>
</div>


      <div class="prototype__comments">
        <div class="form-group">
          <%= form_with(model:[@walk,@comment],local: true)do |f|%>
            <div class="field">
              <%= f.label :message, "コメント" %><br />
              <%= f.text_field :message, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
       </div>
          
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
               <%= comment.message%>
               <%# <%= link_to comment.user.name, user_path(comment.user), class: :comment_user %>
            </li>
          <% end%>
        </ul>
      </div>
    </div>
  </div>
</main>


